body {
    background-image:url('../images/kampaniia-italiia-neapol-gora-vezuvii-zaliv-ogni.jpg');
    background-size:100%;
    background-repeat: repeat-x;
    background-attachment: fixed;
    height:100%;
    width:100%;
}