body {
    background-image:url('../images/winter-snow-covered-forest-desktop-wallpaper.jpg');
    background-size:100%;
    background-repeat: repeat-x;
    background-attachment: fixed;
    height:100%;
    width:100%;
}